<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/report.js" defer></script>
    <title>bug report</title>
</head>
<body>
    <label>email*</label><br>
    <!--이메일 -->
    <input id="email" type="email" placeholder="email"><br>
    <p>inGameID*</p>
    <!--게임아이디 -->
    <input id="inGameID" type="text" placeholder="in game ID"><br>
    <p>subject</p>
    <!--제목 -->
    <input id="subject" type="text" placeholder="subject"><br>
    <p>description*</p>
    <!--내용 -->
    <input id="description" type="text" placeholder="description"><br>
    <!--버튼 -->
    <button>Submit</button>
</body>
</html>